---

---

<nav aria-label="primary navigation">
  <ul class="nav | flex-group">
    <li><a href="/index.html">Home</a></li>
    <li><a href="#">Page 2</a></li>
    <li><a href="#">Page 3</a></li>
    <li><a href="#">Page 4</a></li>
  </ul>
</nav>
