---
import PrimaryNavigation from "./PrimaryNavigation.astro";
const { skipTo = "#main" } = Astro.props;
---

<header class="site-header">
  <a href={skipTo} class="skip-navigation">Skip to content</a>

  <div class="container">
    <div class="site-header__inner">
      <a href="/index.html">
        <img aria-hidden="true" src="/images/logo.svg" alt="" />
        <p class="visually-hidden">NAME_OF_SITE</p>
      </a>

      <PrimaryNavigation />
    </div>
  </div>
</header>
